html {
    background-color: #c8cdca;
}

input[type="button"] {
    padding: 7px 17px;
    border-radius: 6px;
    font-size: 14px;
    background-color: #2baab1;
    color: white;
}

input[type="submit"] {
    padding: 7px 17px;
    border-radius: 6px;
    font-size: 14px;
    background-color: #2baab1;
    color: white;
}

input[type="button"]:hover {
    color: red;
    background-color: #2baab1;
    cursor: pointer;
}

input[type="button"]:active {
    color: white;
    background-color: blue;
    cursor: pointer;
}

input[type="submit"]:active {
    color: white;
    background-color: blue;
    cursor: pointer;
}

input[type="submit"]:hover {
    color: red;
    background-color: #2baab1;
    cursor: pointer;
}

img {
    cursor: pointer;
}

div {
    font-size: 17px;
}
.main{
    width: 800px;
    height: 470px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.footer{
    text-align: center;
    color: #fff;
    background-color: #4B0306;
    height: 30px;
    padding-top: 15px;
}
.leftdiv{
    width: 100%;
    height: 70px;    
}
.rightdiv{
    width: 100%;
    height: 450px;
}
.markdiv{
    float: left;
    width: 170px;
    height: 100%;
    text-align: center;  
    background-color: #4B0306;  
}
.titledivtop{
    float: right;
    width: 630px;
    height: 100%;    
    display: table;
    text-align: center;
     background-color: #4B0306;  
    color: #fff;
    font-size: 22px;
}
.titlediv{
    float: right;
    width: 630px;
    height: 100%;    
    display: table;
    text-align: center;
    background-color: #fff;
    color: #555;
    font-size: 22px;
}
.title{
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
}
.menu{
    color: #eee;
    display: table-cell;
    vertical-align: middle;
    font-size: 15px;
    font-weight: bold;
}
.container{
    width: 170px;
    height: 55px;
    display: table;
    border-bottom: 1px solid #5c6c7b;
    padding-left: 20px;
}
.container.active {
    background-color: #49545f;
}
.container:last-child {
    border-bottom: none;
}
.container:hover {
   opacity: 1;
   background-color: #49545f;
   cursor: pointer;
}
.sub_content {
    background-color: #fff;
    height: 340px;
    padding: 30px;
}
.btn{
    text-align: center;
    display: table;
    margin-left: 175px;
    margin-top: 20px;
    cursor: pointer;
}
.btn .txt{
    vertical-align: middle;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #2baab1;
    border-color: #2baab1 #2baab1 #218388;
    border: 1px solid transparent;
    border-bottom-width: 3px;
    padding: 5px 15px;
    border-radius: 6px;
    font-size: 16px;
    white-space: nowrap;
}

.btn .txt:hover{
    color: #fd0a0a;
}

.btn .txt:active:focus {
    border-color: #26969c #26969c #26969c;
    background-color: #26969c;
}
.subtitle{    
    margin: 15px;    
    font-size: 18px;
    line-height: 20px;
    color: #777;
    font-weight: bolder;
}
.listdiv{
    margin-left: 20px;
    height: 37px;
}
.listdiv .left200 {
    padding-top: 5px;
}
.left200{
    float: left;
    width: 170px;
}
.right230{
    float: right;
    width: 320px;
}
.left120{
    float: left;
    width: 120px;
}
.left70{
    float: left;
    width: 70px;
}
.right330{
    float: right;
    width: 365px;
}
.right70{
    float: right;
    width: 70px;
}
input, select {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    color: #999;
    margin-bottom: 10px;
}
.ring_wav{
    width: 180px;
}

